{% load static %}
<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container-fluid">
       <div class="row mb-5">
          <div class="col-md">
             <div class="ftco-footer-widget mb-4">
                <h2 class="ftco-heading-2">Long Thiên Tín</h2>
                <p>Phương Châm của Chúng tôi là : Uy Tín - An Toàn - Trách Nhiệm</p>
                <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
                   <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                   <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                   <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                </ul>
             </div>
          </div>
          <div class="col-md">
             <div class="ftco-footer-widget mb-4 ml-md-4">
                <h2 class="ftco-heading-2">Links</h2>
                <ul class="list-unstyled">
                   <li><a href="#">Home</a></li>
                   <li><a href="#">About</a></li>
                   <li><a href="#">Services</a></li>
                   <li><a href="#">Projects</a></li>
                   <li><a href="#">Contact</a></li>
                </ul>
             </div>
          </div>
          <div class="col-md">
             <div class="ftco-footer-widget mb-4">
                <h2 class="ftco-heading-2">Dịch Vụ</h2>
                <ul class="list-unstyled">
                   <li><a href="#">Architectural Design</a></li>
                   <li><a href="#">Interior Design</a></li>
                   <li><a href="#">Exterior Design</a></li>
                   <li><a href="#">Lighting Design</a></li>
                   <li><a href="#">AutoCAD Service</a></li>
                </ul>
             </div>
          </div>
          <div class="col-md">
             <div class="ftco-footer-widget mb-4">
                <h2 class="ftco-heading-2">Thông Tin Liên Hệ</h2>
                <div class="block-23 mb-3">
                   <ul>
                      <li><span class="icon icon-map-marker"></span><span class="text">13 Nơ Trang Long -  P. Tân Bình - TP. Đồng Xoài - Bình Phước</span></li>
                      <li><a href="#"><span class="icon icon-phone"></span><span class="text">079.888.5008 - FAX : 02716 29 66 99</span></a></li>
                      <li><a href="#"><span class="icon icon-envelope"></span><span class="text">longthientinbinhphuoc@gmail.com</span></a></li>
                   </ul>
                </div>
             </div>
          </div>
       </div>
    </div>
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
