{% load static %}
<div class="col-md-3 animate__animated animate__fadeInLeft">
   <div class="card text-white mb-3" >
      <div class="card-header cardtd">NHIỆM VỤ THỰC THI</div>
      <div class="card-body cardbd">
         <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner carouselcard" role="listbox">
               <div class="carousel-item carouselitem active ">
                  <img class="d-block img-fluid img-thumbnail border-light" src="{% static 'images/ltt1.png' %}" >
               </div>
               <div class="carousel-item carouselitem">
                  <img class="d-block img-fluid img-thumbnail border-light" src="{% static 'images/ltt2.png' %}">
               </div>
               <div class="carousel-item carouselitem">
                  <img class="d-block img-fluid img-thumbnail border-light" src="{% static 'images/ltt3.png' %}">
               </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
            </a>
         </div>
      </div>
   </div>
   <div class="card text-white mb-3" >
      <div class="card-header cardtd">HỒ SƠ CHỨNG THỰC</div>
      <div class="card-body cardbd">
         <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner carouselcard" role="listbox">
               <div class="carousel-item carouselitem active ">
                  <img class="d-block img-fluid img-thumbnail border-light" src="{% static 'images/CT1.jpg' %}" >
               </div>
               <div class="carousel-item carouselitem">
                  <img class="d-block img-fluid img-thumbnail border-light" src="{% static 'images/CT2.jpg' %}">
               </div>
               <div class="carousel-item carouselitem">
                  <img class="d-block img-fluid img-thumbnail border-light" src="{% static 'images/TT_2.jpg' %}">
               </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
            </a>
         </div>
      </div>
   </div>
   <div class="card text-white mb-3" >
      <div class="card-header cardtd">LỊCH SỬ CÔNG TY</div>
      <div class="card-body cardbd">
         <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner carouselcard" role="listbox">
               <div class="carousel-item carouselitem active ">
                  <img class="d-block img-fluid img-thumbnail border-light" src="{% static 'images/mau_8.jpg' %}" >
               </div>
               <div class="carousel-item carouselitem">
                  <img class="d-block img-fluid img-thumbnail border-light" src="{% static 'images/mau_9.jpg' %}">
               </div>
               <div class="carousel-item carouselitem">
                  <img class="d-block img-fluid img-thumbnail border-light" src="{% static 'images/TT_2.jpg' %}">
               </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
            </a>
         </div>
      </div>
   </div>
</div>
<hr>

       
 



   
       
           