{% load static %}
<div class="col-md-9 animate__animated animate__lightSpeedInRight">
    <!-- Tieu Đề 1 -->
   <div class="box ml-5 ml-lg-0">
   <h4 class="textTD1">VỀ CHÚNG TÔI</h4>
   <img class="logoTD" src="{% static 'images/title_yellow.png' %}" width="300px" height="45px">
     <div class="noidung1" >
       <div class="imagebox">
         <img src="{% static 'images/ltt16.png'%}" width="100%" height="auto" />
       </div>            
       <div class="textbox">
        <p><b>Kính Thưa Quý Khách!</b></p>
         <p>Công ty Bảo vệ Long Thiên Tính chân thành cảm ơn sâu sắc đến quý khách hàng vì đã tín nhiệm và dành quý thời gian quý báu để tham khảo tài liệu...</p>
         <p><b>Kính thưa quý khách hàng, </b>Trong suốt chặn đường hoạt động và phát triển, công ty từng bước đi lên, khẳng định vị thế thị trường và hoàn thành xuất sắc nhiệm vụ của Hội đồng quản trị giao phó.</p>
         <a href="{% url 'about' %}">Read More</a>
       </div>
     </div>
   </div>
   
   <div class="box ml-5 ml-lg-0">
     <h4 class="textTD2">DỊCH VỤ</h4>
     <img class="logoTD" src="{% static 'images/title_red.png' %}" width="300px" height="60px">
     <div class="card-group ">
      
       <div class="card bg-warning m-3">
        <a href="{% url 'service' %}">
         <img class="card-img-top" src="{% static 'images/ltt22.png' %}" alt="Card image cap">
         <div class="card-body d-flex flex-column">
           <h5 class="card-title"><b>Bảo vệ mục tiêu cố định</b></h5>
           <p class="card-text">Thay đổi tùy theo đặc trưng riêng của mỗi Công ty, nhà máy, xí nghiệp, kho tàng, bến bãi, khách sạn, trụ sở làm việc, ngân hàng, nhà ở, siêu thị, công trường…</p>
           
         </div>
        </a>
       </div>
      
       <div class="card bg-warning ml-3 m-3">
        <a href="{% url 'service' %}">
         <img class="card-img-top" src="{% static 'images/ltt19.png' %}" alt="Card image cap">
         <div class="card-body d-flex flex-column">
           <h5 class="card-title"><b>Bảo vệ nhà xưởng</b></h5>
           <p class="card-text">Với phương châm đem đến một dịch vụ an ninh hàng đầu, ngoài việc Bảo vệ công ty Tùng Long đem đến các gói dịch vụ đa dạng, chúng tôi phải luôn đảm bảo rằng tất....</p>           
         </div>
        </a>
       </div>
       <div class="card bg-warning ml-3 m-3">
        <a href="{% url 'service' %}">
         <img class="card-img-top" src="{% static 'images/ltt12.png' %}" alt="Card image cap">
         <div class="card-body d-flex flex-column">
           <h5 class="card-title">Bảo vệ ngân hàng</h5>
           <p class="card-text">Bảo vệ phải giữ kín bí mật không được tiết lộ những bí mật của ngân hàng như: mã số khóa, sơ đồ hệ thống báo động, phòng chống trộm cắp lượng tiền mới nhập về......</p>
           
         </div>
         </a>
       </div>
     </div>
  
   </div>






      
   <div class="box ml-5 ml-lg-0">
     <h4 class="textTD3">Ban Lãnh Đạo</h4>
     <img class="logoTD" src="{% static 'images/title_dray.png' %}" width="300px" height="45px">
       <div class="noidung1" >
        <!--Carousel Wrapper-->
<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel"> 
  <!--/.Indicators-->
  <!--Slides-->
  <div class="carousel-inner" role="listbox">
     <!--First slide-->
     <div class="carousel-item active">
        <div class="col-md-3" style="float:left">
           <div class="card bg-info mb-2">
              <img class="card-img-top"
                 src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
              <div class="card-body">
                 <h4 class="card-title">Card title</h4>
                 <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.
                 </p>
                 <a class="btn btn-primary">Button</a>
              </div>
           </div>
        </div>
        <div class="col-md-3" style="float:left">
           <div class="card bg-info mb-2">
              <img class="card-img-top"
                 src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
              <div class="card-body">
                 <h4 class="card-title">Card title</h4>
                 <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.
                 </p>
                 <a class="btn btn-primary">Button</a>
              </div>
           </div>
        </div>
        <div class="col-md-3" style="float:left">
           <div class="card bg-info mb-2">
              <img class="card-img-top"
                 src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
              <div class="card-body">
                 <h4 class="card-title">Card title</h4>
                 <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.
                 </p>
                 <a class="btn btn-primary">Button</a>
              </div>
           </div>
        </div>
        <div class="col-md-3" style="float:left">
           <div class="card bg-info mb-2">
              <img class="card-img-top"
                 src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
              <div class="card-body">
                 <h4 class="card-title">Card title</h4>
                 <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.
                 </p>
                 <a class="btn btn-primary">Button</a>
              </div>
           </div>
        </div>
     </div>
     <!--/.First slide-->
     <!--Second slide-->
     <div class="carousel-item">
        <div class="col-md-3" style="float:left">
           <div class="card bg-info mb-2">
              <img class="card-img-top"
                 src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
              <div class="card-body">
                 <h4 class="card-title">Card title</h4>
                 <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.
                 </p>
                 <a class="btn btn-primary">Button</a>
              </div>
           </div>
        </div>
        <div class="col-md-3" style="float:left">
           <div class="card bg-info mb-2">
              <img class="card-img-top"
                 src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg" alt="Card image cap">
              <div class="card-body">
                 <h4 class="card-title">Card title</h4>
                 <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.
                 </p>
                 <a class="btn btn-primary">Button</a>
              </div>
           </div>
        </div>
        <div class="col-md-3" style="float:left">
           <div class="card bg-info mb-2">
              <img class="card-img-top"
                 src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg" alt="Card image cap">
              <div class="card-body">
                 <h4 class="card-title">Card title</h4>
                 <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.
                 </p>
                 <a class="btn btn-primary">Button</a>
              </div>
           </div>
        </div>
        <div class="col-md-3" style="float:left">
           <div class="card bg-info mb-2">
              <img class="card-img-top"
                 src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg" alt="Card image cap">
              <div class="card-body">
                 <h4 class="card-title">Card title</h4>
                 <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.
                 </p>
                 <a class="btn btn-primary">Button</a>
              </div>
           </div>
        </div>
     </div>
     <!--/.Second slide-->
  </div>
  <!--/.Slides-->
</div>
<!--/.Carousel Wrapper-->         
        
       </div>
   </div>

   
 <hr>
 </div>
  <!--end content text-->
</div>