{% extends "base/main.html" %}
 {% block content %}
 <div class="col-md-9 animate__animated animate__lightSpeedInRight">
    <nav class="navbar navtieude">
        <div class="textabout"><h6>GIỚI THIỆU</h6></div>
    </nav>
    <div class="vb">
        
        <p class="ml-2">
            <br>
            <h7 style="font-weight: bolder;">Kính Thưa Quý Khách!</h7>
            <p>LỜI ĐẦU TIÊN : Công ty Cổ Phần Dụ Vụ Bảo vệ - Vệ Sĩ chuyên nghiệp LONG THIÊN TÍNH xin gửi đến quý khách hàng. Lời chúc sức khỏa và lời chào trân trọng nhất.</p>        
            <p>Công ty Bảo vệ Long Thiên Tính chân thành cảm ơn sâu sắc đến quý khách hàng vì đã tín nhiệm và dành quý thời gian quý báu để tham khảo tài liệu này.</p>
            <p><b>Kính thưa quý khách hàng, </b>Trong suốt chặn đường hoạt động và phát triển, công ty từng bước đi lên, khẳng định vị thế thị trường và hoàn thành xuất sắc nhiệm vụ của Hội đồng quản trị giao phó.</p>        
            <p>Ngày 06 tháng 08 năm 2020, Hội đồng quản trị công ty họp thống nhất đề cử nhân sự mới đảm nhiệm sứ mệnh phát triển Công ty, và đặt tên <b><i>Công ty Cổ phần dịch vụ bảo vệ - vệ sĩ chuyên nghiệp Long Thiên Tính</i></b>với tâm huyết mang lại cuộc sống bình yên cho mọi người và mục đích đáp ứng tốt nhu cầu thực tế và đảm bảo an ninh trật tự, an toàn tài sản doanh nghiệp trên địa bàn tỉnh lân cận.</p>
            <p>Với thành phần ban lãnh đạo đầy nhiệt huyết và giàu kinh nghiệm, xuất thân từ lực lượng công an nhân dân, quân đội nhân dân việt nam và đã từng giữ các chức vụ quan trọng chủ chốt trong ngành, <b><i>Công ty Cổ phần dịch vụ bảo vệ - vệ sĩ chuyên nghiệp Long Thiên Tính</i></b> tiếp tục sứ mệnh và khẳng định được thương hiệu của mình nhờ tạo được sự uy tín nhiệm của quý khách hàng qua:</p>
            <p><b>- Chất lượng dịch vụ.</b></p>
            <p><b>Nguồn nhân lực : chuyên nghiệp - năng động - dày dạn kinh nghiệm.</b></p>
            <p><b>Tư tưởng đạo đức nghề nghiệp và thái độ phục vụ tận tâm, nhiệt huyết: </b></p>
            <p><b>Giá thành cạnh tranh.</b></p>
            <p><b>Lấy thỏa mãn của quý khách làm phương châm hoạt động.</b></p>
            <p><b><i>Công ty Cổ phần dịch vụ bảo vệ - vệ sĩ chuyên nghiệp Long Thiên Tính</i></b> luôn lắng nghe và đáp ứng mọi nhu cầu của quý khách hàng, bên cạnh đó, chúng tôi không ngừng học hỏi, sáng tạo, bồi dưỡng nâng cao nghiệp vụ của đội ngũ nhân viên và ứng dụng công nghệ khoa học và môi trường thực tế ngày càng vươn lên trở thành một trong nhưng công ty hàng đầu về l4nh vực : cung cấp các loại hình dịch vụ bảo vệ chuyên nghiệp nhất.</p>
            <p><b><i>Công ty Cổ phần dịch vụ bảo vệ - vệ sĩ chuyên nghiệp Long Thiên Tính</i></b> cam kết sẽ là một đối tác tinh cậy và hợp tác lâu dài về cung ứng dịch vụ bảo vệ, công ty luôn tự tin sẽ là sự lựa chọn hoàn hảo của Quý khách, rất mong được sự tín nhiệm ký kết hợp tác cùng Công ty quý khách, rất mong được sự tín nhiệm và ký kết hợp tác cùng Công ty.</p>
            
        </p>
        
    </div>
        
    
 </div>
 {% endblock content %}