{% extends "base/main.html" %}
{% block content %}
 <div class="col-md-9 animate__animated animate__lightSpeedInRight">
    <nav class="navbar navtieude">
        <div class="textabout"><h6><b>LIÊN HỆ</b></h6></div>
    </nav>
    <div class="mt-5">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3909.264447621726!2d106.89460581518058!3d11.532877991810969!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174a03a7c5e4c45%3A0x5838f569466c76c!2zMTMgxJDGsOG7nW5nIE7GoSBUcmFuZyBMb25nLCBUw6JuIELDrG5oLCDEkOG7k25nIFhvw6BpLCBCw6xuaCBQaMaw4bubYywgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1600964751684!5m2!1svi!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>    
    <div class="text mt-3">
        <p><b><i>SỐ ĐIỆN THOẠI :079.888.5008</i></b></p>
        <p><b><i>longthientinbinhphuoc@gmail.com</i></b></p>
    </div>
 </div>
 {% endblock content %}